
/* 
primary_color        : #392b8c;  
light_primary_color  : #C5CAE9; 
text_icons_color     : #FFFFFF; 
accent_color         : #448AFF;
primary_text_color   : #212121; 
secondary_text_color : #727272; 
divider_color        : #B6B6B6;
dark_primary_color   : #303F9F;
*/

/*2C2859,827DB3,B9B7D7 or B987D7 ,8B8ABA,686599*/

/* ------------------------------------------------------*/
/* Makertron                                             */
/* ------------------------------------------------------*/

.topbar {  
  position:absolute;  
  background-color:#392b8c;
  width:100%;
  height:8%;
  top:0px; 
}

.toolbar { 
  position:absolute; 
  background-color: #C5CAE9;
  width:100%;
  height:3%; 
  top:8%; 
}

.threejs { 
  background-color:green;
  width:100%;
  height: 88%; 
  position:absolute;
  top:11%  
}

.three_canvas { 
  width: 100%; 
  height: 100%; 
  background-color: #2C2859; 
} 

.overlay { 
  position: absolute;
  width: 100%;
  height: 85%;
  top: 12%;
  opacity:0.89;
  pointer-events: none;
}

.kickpanel { 
  width:0px; 
  height:0px;
  background-color:gray;   
}

.editbar { 
 
  width:100%; 
  height:2%; 
  min-height:20px; 
  margin:2px; 
  pointer-events: auto;
}

.editor { 

}

.editor_button { 
    
}

.console { 
  height: 100%;
  width:100%;
  margin: 2px; 
  padding: 2px; 
  pointer-events: auto;  
}

.logtext { 
  height: calc(100% - 50px);
  width: calc(100% - 35px); 
  overflow:scroll; 
} 

.logo { 
					padding: 18px;
					margin: 5px;  
					font-family: "din1451alt";
					font-size: 30px;
					font-weight: bold;  
					color: #303F9F;
					text-align: center;  
					vertical-align: middle;			 
				 	width: 15vw;
					background-color: white;
			
	}

.about { 
				  padding: 5px;
					margin: 0px;  
					font-family: "din1451alt";
					font-size: 10px;
					font-weight: bold; 
					color: #303F9F;
					text-align: right;  
  }

.about_button {
			  	
}


body { 
  background-color: #392b8c; 
  margin:0px; 
  padding:0px;
  overflow: hidden; 
} 

.whole_page { 

}

/* ------------------------------------------------------*/
/* React-SplitPane                                       */
/* ------------------------------------------------------*/

.Resizer {
           -moz-box-sizing: border-box;
           -webkit-box-sizing: border-box;
           box-sizing: border-box;
           background: #000;
           opacity: .2;

/*           z-index: 1;*/

           -moz-background-clip: padding;
           -webkit-background-clip: padding;
           background-clip: padding-box;
           pointer-events: auto; 
        }

.Resizer:hover {
     -webkit-transition: all 2s ease;
     transition: all 2s ease;
    }

.Resizer.horizontal {
            height: 11px;
            margin: -5px 0;
            border-top: 5px solid rgba(255, 255, 255, 0);
            border-bottom: 5px solid rgba(255, 255, 255, 0);
            cursor: row-resize;
            width: 100%; 
    }

.Resizer.horizontal:hover {
            border-top: 5px solid rgba(0, 0, 0, 0.5);
            border-bottom: 5px solid rgba(0, 0, 0, 0.5);
        }

.Resizer.vertical {
            width: 11px;
            margin: 0 -5px;
            border-left: 5px solid rgba(255, 255, 255, 0);
            border-right: 5px solid rgba(255, 255, 255, 0);
            cursor: col-resize;
            height: 100%;
        }

.Resizer.vertical:hover {
            border-left: 5px solid rgba(0, 0, 0, 0.5);
            border-right: 5px solid rgba(0, 0, 0, 0.5);
        }

/* ------------------------------------------------------*/
/* Prism                                                 */
/* ------------------------------------------------------*/

/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*="language-"],
pre[class*="language-"] {
	color: black;
	background: none;
	text-shadow: 0 1px white;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-size: 1em;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
	text-shadow: none;
	background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
	text-shadow: none;
	background: #b3d4fc;
}

@media print {
	code[class*="language-"],
	pre[class*="language-"] {
		text-shadow: none;
	}
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #999;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #9a6e3a;
	background: hsla(0, 0%, 100%, .5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #07a;
}

.token.function,
.token.class-name {
	color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
	color: #e90;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

/* ------------------------------------------------------*/
/* Draft-js                                              */
/* ------------------------------------------------------*/

.DraftEditor-editorContainer,
.DraftEditor-root,
.public-DraftEditor-content{    
  height: calc(100% - 15px);
  width: calc(100% - 15px); 
  margin: 2px; 
  text-align:initial;
  pointer-events:auto;     
}

.public-DraftEditor-content[contenteditable=true]{
  -webkit-user-modify:read-write-plaintext-only
}

.DraftEditor-root{
  position:absolute
}

.DraftEditor-editorContainer{
  background-color:rgba(245, 245, 245, 1 );
  border-left:.1px solid transparent;
  position:absolute;
  overflow:auto;

  /*z-index:1*/
}

.public-DraftEditor-block{position:absolute}
.DraftEditor-alignLeft 
.public-DraftStyleDefault-block{text-align:left}
.DraftEditor-alignLeft 
.public-DraftEditorPlaceholder-root{left:0;text-align:left}
.DraftEditor-alignCenter 
.public-DraftStyleDefault-block{text-align:center}
.DraftEditor-alignCenter 
.public-DraftEditorPlaceholder-root{margin:0 auto;text-align:center;width:100%}
.DraftEditor-alignRight 
.public-DraftStyleDefault-block{text-align:right}
.DraftEditor-alignRight 
.public-DraftEditorPlaceholder-root{right:0;text-align:right}
.public-DraftEditorPlaceholder-root{color:#9197a3;position:absolute;

/*z-index:1*/

}
.public-DraftEditorPlaceholder-hasFocus{color:#bdc1c9}
.DraftEditorPlaceholder-hidden{display:none}
.public-DraftStyleDefault-block{position:relative;white-space:pre-wrap}
.public-DraftStyleDefault-ltr{direction:ltr;text-align:left}
.public-DraftStyleDefault-rtl{direction:rtl;text-align:right}
.public-DraftStyleDefault-listLTR{direction:ltr}
.public-DraftStyleDefault-listRTL{direction:rtl}
.public-DraftStyleDefault-ol,
.public-DraftStyleDefault-ul{margin:16px 0;padding:0}
.public-DraftStyleDefault-depth0
.public-DraftStyleDefault-listLTR{margin-left:1.5em}
.public-DraftStyleDefault-depth0
.public-DraftStyleDefault-listRTL{margin-right:1.5em}
.public-DraftStyleDefault-depth1
.public-DraftStyleDefault-listLTR{margin-left:3em}
.public-DraftStyleDefault-depth1
.public-DraftStyleDefault-listRTL{margin-right:3em}
.public-DraftStyleDefault-depth2
.public-DraftStyleDefault-listLTR{margin-left:4.5em}
.public-DraftStyleDefault-depth2
.public-DraftStyleDefault-listRTL{margin-right:4.5em}
.public-DraftStyleDefault-depth3
.public-DraftStyleDefault-listLTR{margin-left:6em}
.public-DraftStyleDefault-depth3
.public-DraftStyleDefault-listRTL{margin-right:6em}
.public-DraftStyleDefault-depth4
.public-DraftStyleDefault-listLTR{margin-left:7.5em}
.public-DraftStyleDefault-depth4
.public-DraftStyleDefault-listRTL{margin-right:7.5em}
.public-DraftStyleDefault-unorderedListItem{list-style-type:square;position:relative}
.public-DraftStyleDefault-unorderedListItem
.public-DraftStyleDefault-depth0{list-style-type:disc}
.public-DraftStyleDefault-unorderedListItem
.public-DraftStyleDefault-depth1{list-style-type:circle}
.public-DraftStyleDefault-orderedListItem{list-style-type:none;position:relative}
.public-DraftStyleDefault-orderedListItem
.public-DraftStyleDefault-listLTR:before{left:-36px;position:absolute;text-align:right;width:30px}
.public-DraftStyleDefault-orderedListItem
.public-DraftStyleDefault-listRTL:before{position:absolute;right:-36px;text-align:left;width:30px}
.public-DraftStyleDefault-orderedListItem:before{content:counter(ol0) ". ";counter-increment:ol0}
.public-DraftStyleDefault-orderedListItem
.public-DraftStyleDefault-depth1:before{content:counter(ol1) ". ";counter-increment:ol1}
.public-DraftStyleDefault-orderedListItem
.public-DraftStyleDefault-depth2:before{content:counter(ol2) ". ";counter-increment:ol2}
.public-DraftStyleDefault-orderedListItem
.public-DraftStyleDefault-depth3:before{content:counter(ol3) ". ";counter-increment:ol3}
.public-DraftStyleDefault-orderedListItem
.public-DraftStyleDefault-depth4:before{content:counter(ol4) ". ";counter-increment:ol4}
.public-DraftStyleDefault-depth0
.public-DraftStyleDefault-reset{counter-reset:ol0}
.public-DraftStyleDefault-depth1
.public-DraftStyleDefault-reset{counter-reset:ol1}
.public-DraftStyleDefault-depth2
.public-DraftStyleDefault-reset{counter-reset:ol2}
.public-DraftStyleDefault-depth3
.public-DraftStyleDefault-reset{counter-reset:ol3}
.public-DraftStyleDefault-depth4
.public-DraftStyleDefault-reset{counter-reset:ol4}

.line {
  position: relative;
}

.line::before {
  content: attr(data-line-number);
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.5;
}

.line-text {
  margin-left: 3em;
}

.superFancyBlockquote {
 
  margin:0px;  
  
}
