<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Makertron 6.0</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">

		<!--  What with the raw styles floating around. Why not add this mess? \¯_(ツ)_/¯ -->
		<style type="text/css">@font-face { font-family: "din1451alt"; src: url(/fonts/din1451alt.ttf) format("truetype"); }</style>
 </head>


  <body>
        <%= render @view_module, @view_template, assigns %>
 
       <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
